.idea
old_scanner
__pycache__
.ipynb_checkpoints
data/configs
data/datasets
data/models/abc_00
data/models/abc_rand
data/objects/abc_filter1
data/objects/abc_filter2
checker_undistorted_gamma.png
teaser_figure/full*
teaser_figure/crop*
teaser_figure/img_000_*
*mitsuba*.log
venv
*.egg-info