colorlog
easydict
efficientnet_pytorch
glfw
imageio
ipython
joblib
lxml
matplotlib
meshio
mako
numpy
OCC
scipy
scikit_learn
scikit-image
scikit-build
open3d
opencv-python==4.5.1.48
opencv_contrib_python==4.5.1.48
OpenEXR
pandas
Pillow
pymeshlab
pyntcloud
PyOpenGL
pyserial
pythreejs
PyYAML
setuptools
torch
torchvision
tqdm
yacs
notebook
open3d